artifacts/cucci/public/hero.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/CucciSoap_1776833672963.gif filter=lfs diff=lfs merge=lfs -text
attached_assets/CucciSoap_1776833961593.gif filter=lfs diff=lfs merge=lfs -text
